
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2 style="text-align: center;">Lista de Pulicaciones</h2>
 
  <div class="container">
    <div class="card-container">
      <div class="card" *ngFor="let element of dataSource.data">
        <div class="card-content">
          <div class="card-header">
            <div class="card-avatar" [style.background-image]="'url(assets/avatars/avatar1.jpg)'"></div>
            <div class="title-subtitle-container">
              <div class="card-title">{{ element.title }}</div>
              <div class="card-subtitle">{{ element.datePublication }}</div>
            </div>
          </div>
          <img class="card-image" src="{{ element.archivo }}" alt="Image">
          <div class="card-content-text">
            <div class="card-text">{{ element.description }}</div>
          </div>
          
          <div class="card-actions" style="text-align: center;">
            <button class="ver-mas" mat-raised-button  [routerLink]="['ediciones', element.idPublication]">Ver más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>




<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center"><h2>Listar Publicaciones</h2></div>

    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.

                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column --
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Código</th>

          <td mat-cell *matCellDef="let element">
            {{ element.idPublication }}
          </td>
        </ng-container>

        <!-- Name Column --

        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef>titulo</th>

          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>

          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>

          <td mat-cell *matCellDef="let element">{{ element.datePublication }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tiporecurso">
          <th mat-header-cell *matHeaderCellDef>Id Tipo Recurso</th>

          <td mat-cell *matCellDef="let element">{{ element.id_TypeRecurso.typeRecursotype }}
          </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Id Usuario</th>

          <td mat-cell *matCellDef="let element">{{ element.idUser.userName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="archivo">
          <th mat-header-cell *matHeaderCellDef>Archivo</th>

          <td mat-cell *matCellDef="let element">{{ element.archivo }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </body>
</html>
-->