<div class="container">
    <h2>Crear Evento</h2>
    <form [formGroup]="form" (submit)="onSubmit()">
      
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label for="title">Nombre del Evento:</mat-label>
        <input matInput type="text" id="title" formControlName="title" required>
      </mat-form-field>

      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
     <br/> 

      <mat-form-field class="example-full-width">
        <mat-label for="description">Descripción:</mat-label>
        <input matInput type="text" id="description" formControlName="description" required>
      </mat-form-field>
      
        <br />
      
      <mat-form-field class="example-full-width">
        <mat-label for="hora">Hora:</mat-label>
        <input matInput type="number" id="hora" formControlName="hora" required>
      </mat-form-field>
      
        <br />
 
      <mat-form-field class="example-full-width">
        <mat-label for="numberParticipant">Numero de participantes:</mat-label>
        <input matInput type="number" id="numberParticipant" formControlName="numberParticipant" required>
      </mat-form-field>
      
        <br />

      <mat-form-field class="example-full-width">
        <mat-label for="addressUbication">Dirección:</mat-label>
        <input matInput type="text" id="addressUbication" formControlName="addressUbication" required>
      </mat-form-field> <br/>

      <mat-form-field class="example-full-width">
        <mat-label for="cityUbication">Ciudad de Ubicación:</mat-label>
        <input matInput type="text" id="cityUbication" formControlName="cityUbication" required>
      </mat-form-field> <br/>

      <mat-form-field class="example-full-width">
        <mat-label for="contactUbication">Contacto de Ubicación:</mat-label>
        <input matInput type="number" id="contactUbication" formControlName="contactUbication" required>
      </mat-form-field> <br/>

      <mat-form-field class="example-full-width">
        <mat-label for="typeUbication">Tipo de Ubicación:</mat-label>
        <input matInput type="text" id="typeUbication" formControlName="typeUbication" required>
      </mat-form-field> <br/>
  

      <mat-form-field class="example-full-width">
        <mat-label for="descUbication">Descripción de Ubicación:</mat-label>
        <input matInput type="text" id="descUbication" formControlName="descUbication" required>
      </mat-form-field> <br/>
      
      <button type="submit" [disabled]="!form.valid">Crear</button>
    </form>
  </div>
  
  
  