.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.h2 {
    margin: 10%;
}
.example-form {
    margin: auto;

}
.mat-form-field {
    color: #333; /* Cambiar el color del texto */   
    width: 300px;
  }
  
  /* Cambiar el color del borde y del foco del mat-form-field */
  .mat-form-field.mat-focused .mat-form-field-underline {
    background-color: #007bff; /* Cambiar color del borde cuando está enfocado */
    
  }
  
  /* Cambiar el color del borde cuando no está enfocado */
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #dc3545; /* Cambiar color del borde cuando es inválido */
  }
  
  /* Cambiar el fondo del mat-form-field */
  .mat-form-field {
    background-color: #f5f5f5; /* Cambiar color de fondo */
  }
  .boton-aceptar{
    background-color: #00BF35;
    color: white;
  }
  .btn-cancelar{
    background-color: #bf0035 ;
    color: white;
  }